// (C) Copyright 2016 Hewlett Packard Enterprise Development LP
@import '~grommet/scss/grommet-core/index';
@import '~grommet-index/scss/grommet-index/index';

$square-icon-width: 25px;
$square-icon-height: 25px;

// Fix duplicate scroll bars
html {
  overflow-y: auto;
  font-family: 'Lato';
}

.mainButton {
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #737373;
}

.mainMenu .grommetux-button__label {
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #737373;
  letter-spacing: 0.8px;  
}

.mainMenu .grommetux-button__icon svg{
    width: 6px;
    padding-top: 5px;
}

.mainLogo {
  width: 230px;
  height: 33px;
}

.mainSearch svg{
  width: 60px;
  height: 41px;
  padding: 10px;
  border-radius: 2px;
  background-color: #00d3e0;
  right: 0 !important; 
}

.mainSearch input{
  max-width: 812px;
  height: 41px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 0.7px #e6e6e6;
}

.mainSearch {
  max-width: 812px;
  margin-right: 15px;
}

.mainCart {
  border-color: #f9f9f9 !important;
  background-color: #f9f9f9;
}

.mainCart .grommetux-button__icon svg{
  fill: #737373;
  stroke: #737373;  
}

.mainCart .grommetux-button__icon svg:hover{
  fill: #000;
  stroke: #000;  
}

.mainCart .grommetux-button__label {
  color: #737373;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  text-align: justify;
  color: #737373;
}


.mainSearchBy {
  width: 129px;
  background-color: #f9f9f9;
  margin-right: 15px; 
}

.mainSearchBy input{
  padding-left: 10px;
  padding-right: 10px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: left;
  color: #737373;
}

.mainSearchBy .grommetux-button__icon svg{
  width: 10px;
}

.mainSidebar {
  height: calc(100vh - 131px) !important;
  max-width: 360px;
  border-right: 1px solid rgba(0,0,0,0.15);
}

.filterTitle {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: left;
  color: #333333;  
}

.clearButton {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.5px;
  text-align: justify;
  color: #333333;  
}

.split-component {
  height: calc(100vh - 131px);
}

.grommetux-split__column--fixed {
  height: calc(100vh - 131px) !important;
}

#imageList {
  height: 35%;
  width: 35%;
}

.noLabelCheckBox {
  width: 10px;
}
#iconMargin {
  margin-right: 5px;
}

#f-range {
   height: 18px;
   width: auto;
}

#showcaseMenu {
  // box-shadow: 5px 5px 0 0 rgba(101, 102, 104, 0.05);
}

#iconMarginPhone {
  margin-top: 5px;
  margin-right: 5px;
}

#iconMarginTablet {
  margin-top: 3px;
  margin-right: 5px;
}

#header {
  box-shadow: 6px 6px rgba(50, 52, 53, 0.02);
}


#tabs {
  margin: 0 0;
  margin-bottom: 3px;
}

#tabs .grommetux-tab__label:after {
  margin-top: 7px;

}

#tabsWhite {
  margin: 0 0;
  margin-bottom: 3px;
}

#tabsWhite .grommetux-tab__label:after {
  margin-top: 3px;
  height: 3px;
}

#header2 {
  min-height: 45px;
  box-shadow: 4px 4px rgba(50, 52, 53, 0.02);
}

#dashboardMenu header{
  min-height: 0;
}

#dashboardLabel {
  font-size: 1.125rem;
  margin-left: 5px;
}

#tile {
  // box-shadow: 2px 2px rgba(0, 0, 0, 0.15);  
  // width: 259.2px;
  // height: 261.5px;
}

.emptyBox {
  width: 198px;
  height: 147.6px;
  background-color: #d8d8d8;
}

.offerBox {
  position: relative;
  left: 7%;
  bottom: 7%;
}

.listWrapper {
  overflow-x: hidden;
}

.cost {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #4a90e2;  
}

.discount {
  font-family: Lato;
  font-size: 12px;
  color: #737373;
  text-decoration: line-through;
}
.itemName {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.36;
  text-align: left;
  color: #00d3e0;
}
